In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType, IntegerType
# Create SparkSession
spark = SparkSession.builder \
          .appName('SparkByExamples.com') \
          .getOrCreate()

simpleData = [("James","34","true","M","3000.6089"),
    ("Michael","33","true","F","3300.8067"),
    ("Robert","37","false","M","5000.5034")
  ]

columns = ["firstname","age","isGraduated","gender","salary"]
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)

from pyspark.sql.functions import col,round,expr
df.withColumn("salary",df.salary.cast('double')).printSchema()    
df.withColumn("salary",df.salary.cast(DoubleType())).printSchema()    
df.withColumn("salary",col("salary").cast('double')).printSchema()    

#df.withColumn("salary",round(df.salary.cast(DoubleType()),2)).show(truncate=False).printSchema()    
df.selectExpr("firstname","isGraduated","cast(salary as double) salary").printSchema()    

df.createOrReplaceTempView("CastExample")
spark.sql("SELECT firstname,isGraduated,DOUBLE(salary) as salary from CastExample").printSchema()


#df.select("firstname",expr(df.age),"isGraduated",col("salary").cast('float').alias("salary")).show()

root
 |-- firstname: string (nullable = true)
 |-- age: string (nullable = true)
 |-- isGraduated: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

+---------+---+-----------+------+---------+
|firstname|age|isGraduated|gender|salary   |
+---------+---+-----------+------+---------+
|James    |34 |true       |M     |3000.6089|
|Michael  |33 |true       |F     |3300.8067|
|Robert   |37 |false      |M     |5000.5034|
+---------+---+-----------+------+---------+

root
 |-- firstname: string (nullable = true)
 |-- age: string (nullable = true)
 |-- isGraduated: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: double (nullable = true)

root
 |-- firstname: string (nullable = true)
 |-- age: string (nullable = true)
 |-- isGraduated: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: double (nullable = true)

root
 |-- firstname: string (nullable = true)
 |-- age: string (nullable = true)
 |-- isGraduated: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: double (nullable = true)

root
 |-- firstname: string (nullable = true)
 |-- isGraduated: string (nullable = true)
 |-- salary: double (nullable = true)

root
 |-- firstname: string (nullable = true)
 |-- isGraduated: string (nullable = true)
 |-- salary: double (nullable = true)

In [0]:
#Import the necessary modules: SparkSession from pyspark.sql and DoubleType, IntegerType from pyspark.sql.types.
#Create a SparkSession named 'SparkByExamples.com' using SparkSession.builder.appName('SparkByExamples.com').getOrCreate().
#Define the simple data as a list of tuples, where each tuple represents a row in the DataFrame.
#Define the column names for the DataFrame.
#Create the DataFrame df using the provided data and schema using spark.createDataFrame(data=simpleData, schema=columns).
#Print the schema of the DataFrame using the printSchema() method.
#Display the contents of the DataFrame using the show() method.
#Import the necessary functions: col, round, expr from pyspark.sql.functions.
#Use withColumn() to apply casting operations on the "salary" column of the DataFrame. You can use either a string representation or DoubleType() to specify the target data type. However, in the given code, the result of these operations is not assigned to any variable or printed.
#Use selectExpr() to cast the "salary" column to double using SQL-like expressions, while keeping other columns intact. The result is printed using printSchema().
#Create a temporary view named "CastExample" for the DataFrame df using createOrReplaceTempView().
#Use spark.sql() to run a SQL query that casts the "salary" column to double and select the "firstname" and "isGraduated" columns. The result is printed using printSchema().
#It seems that there are some commented lines that may have been intended to perform casting operations and show the resulting DataFrame. However, those lines are currently commented out.

#If you want to execute the commented lines, you can uncomment them and remove the printSchema() statement at the end of each line to display the DataFrame instead.