In [0]:
import pyspark
from pyspark.sql import SparkSession


spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [("111",50000),("222",60000),("333",40000)]
columns= ["EmpId","Salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

from pyspark.sql.functions import col,lit
df2 = df.select(col("EmpId"),col("Salary"),lit("1").alias("lit_value1"))
df2.show(truncate=False)


from pyspark.sql.functions import when
df3 = df2.withColumn("lit_value2", when((col("Salary") >=40000) & (col("Salary") <= 50000),lit("100")).otherwise(lit("200")))
df3.show(truncate=False)

root
 |-- EmpId: string (nullable = true)
 |-- Salary: long (nullable = true)

+-----+------+
|EmpId|Salary|
+-----+------+
|111  |50000 |
|222  |60000 |
|333  |40000 |
+-----+------+

+-----+------+----------+
|EmpId|Salary|lit_value1|
+-----+------+----------+
|111  |50000 |1         |
|222  |60000 |1         |
|333  |40000 |1         |
+-----+------+----------+

+-----+------+----------+----------+
|EmpId|Salary|lit_value1|lit_value2|
+-----+------+----------+----------+
|111  |50000 |1         |100       |
|222  |60000 |1         |200       |
|333  |40000 |1         |100       |
+-----+------+----------+----------+

In [0]:
#Creating DataFrame:

#A DataFrame df is created with columns "EmpId" and "Salary" using the createDataFrame() method. It contains three rows of data.
#Printing Schema and Data:

#The schema of the DataFrame df is printed using printSchema().
#The data in the DataFrame df is displayed using show().
#Selecting Columns and Adding Literal Column:

#The code selects the columns "EmpId" and "Salary" from the DataFrame df using select() and assigns a literal value of "1" to a new column called "lit_value1" using the lit() function and alias() method.
#Displaying the Modified DataFrame:

#The modified DataFrame df2 is displayed using show().
#Adding Conditional Column:

#The code adds a new column called "lit_value2" to the DataFrame df2 using withColumn(). The new column is derived based on a condition using the when() function. If the "Salary" is between 40,000 and 50,000 (inclusive), the value is set to "100"; otherwise, it is set to "200".
#Displaying the Final DataFrame:

#The final DataFrame df3 is displayed using show().
#The purpose of this code is to showcase the usage of functions like col(), lit(), and when() in PySpark for manipulating and transforming DataFrames.