In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
simpleData = (("James","","Smith","36636","NewYork",3100), \
    ("Michael","Rose","","40288","California",4300), \
    ("Robert","","Williams","42114","Florida",1400), \
    ("Maria","Anne","Jones","39192","Florida",5500), \
    ("Jen","Mary","Brown","34561","NewYork",3000) \
  )
columns= ["firstname","middlename","lastname","id","location","salary"]

df = spark.createDataFrame(data = simpleData, schema = columns)

df.printSchema()
df.show(truncate=False)

df.drop("firstname") \
  .printSchema()
  
df.drop(col("firstname")) \
  .printSchema()  
  
df.drop(df.firstname) \
  .printSchema()

df.drop("firstname","middlename","lastname") \
    .printSchema()

cols = ("firstname","middlename","lastname")

df.drop(*cols) \
   .printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- location: string (nullable = true)
 |-- salary: long (nullable = true)

+---------+----------+--------+-----+----------+------+
|firstname|middlename|lastname|id   |location  |salary|
+---------+----------+--------+-----+----------+------+
|James    |          |Smith   |36636|NewYork   |3100  |
|Michael  |Rose      |        |40288|California|4300  |
|Robert   |          |Williams|42114|Florida   |1400  |
|Maria    |Anne      |Jones   |39192|Florida   |5500  |
|Jen      |Mary      |Brown   |34561|NewYork   |3000  |
+---------+----------+--------+-----+----------+------+

root
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- location: string (nullable = true)
 |-- salary: long (nullable = true)

root
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- location: string (nullable = true)
 |-- salary: long (nullable = true)

root
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- location: string (nullable = true)
 |-- salary: long (nullable = true)

root
 |-- id: string (nullable = true)
 |-- location: string (nullable = true)
 |-- salary: long (nullable = true)

root
 |-- id: string (nullable = true)
 |-- location: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
#It imports the necessary modules: SparkSession from pyspark.sql and col from pyspark.sql.functions.
#It creates a SparkSession object named spark using SparkSession.builder.appName('SparkByExamples.com').getOrCreate().
#It defines a list of tuples containing sample data and a list of column names to create a DataFrame df using spark.createDataFrame(data=simpleData, schema=columns).
#It prints the schema and shows the content of the DataFrame using df.printSchema() and df.show(truncate=False).
#It demonstrates different ways to drop columns from the DataFrame:
#df.drop("firstname") drops the "firstname" column and returns a new DataFrame.
#df.drop(col("firstname")) drops the column specified by the col("firstname") expression and returns a new DataFrame.
#df.drop(df.firstname) drops the column specified by the df.firstname reference and returns a new DataFrame.
#df.drop("firstname", "middlename", "lastname") drops multiple columns specified by their names and returns a new DataFrame.
#df.drop(*cols) drops multiple columns specified as a tuple and returns a new DataFrame.
#For each drop operation, it prints the schema of the resulting DataFrame using .printSchema().
#The code demonstrates various ways to drop columns from a DataFrame using the drop function. You can specify column names as strings, use col() function to reference columns, or pass multiple column names as arguments or in a tuple.