In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

data = [('James','Smith','M',30),
  ('Anna','Rose','F',41),
  ('Robert','Williams','M',62), 
]

columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

from pyspark.sql.functions import concat_ws,col,lit
df.select(concat_ws(",",df.firstname,df.lastname).alias("name"), \
          df.gender,lit(df.salary*2).alias("new_salary")).show()

print(df.collect())
rdd=df.rdd.map(lambda x: 
    (x[0]+","+x[1],x[2],x[3]*2)
    )  
df2=rdd.toDF(["name","gender","new_salary"]   )
df2.show()


#Referring Column Names
rdd2=df.rdd.map(lambda x: 
    (x["firstname"]+","+x["lastname"],x["gender"],x["salary"]*2)
    ) 


#Referring Column Names
rdd2=df.rdd.map(lambda x: 
    (x.firstname+","+x.lastname,x.gender,x.salary*2)
    ) 


def func1(x):
    firstName=x.firstname
    lastName=x.lastName
    name=firstName+","+lastName
    gender=x.gender.lower()
    salary=x.salary*2
    return (name,gender,salary)

rdd2=df.rdd.map(lambda x: func1(x))

#Foeeach example
def f(x): print(x)
df.rdd.foreach(f)

df.rdd.foreach(lambda x: 
    print("Data ==>"+x["firstname"]+","+x["lastname"]+","+x["gender"]+","+str(x["salary"]*2))
    ) 
    
#Iterate collected data
dataCollect = df.collect()
for row in dataCollect:
    print(row['firstname'] + "," +row['lastname'])
    
#Convert to Pandas and Iterate

dataCollect=df.rdd.toLocalIterator()
for row in dataCollect:
    print(row['firstname'] + "," +row['lastname'])

import pandas as pd
pandasDF = df.toPandas()
for index, row in pandasDF.iterrows():
    print(row['firstname'], row['gender'])

+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|    30|
|     Anna|    Rose|     F|    41|
|   Robert|Williams|     M|    62|
+---------+--------+------+------+

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+

[Row(firstname='James', lastname='Smith', gender='M', salary=30), Row(firstname='Anna', lastname='Rose', gender='F', salary=41), Row(firstname='Robert', lastname='Williams', gender='M', salary=62)]
+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+

James,Smith
Anna,Rose
Robert,Williams
James,Smith
Anna,Rose
Robert,Williams

James M
Anna F
Robert M

In [0]:
#Creating DataFrame:

#A DataFrame df is created using spark.createDataFrame() with data and schema defined in the code. The DataFrame contains columns "firstname," "lastname," "gender," and "salary."
#Displaying DataFrame:

#The data in the DataFrame df is displayed using df.show().
#Selecting Columns and Creating New Columns:

#The code selects the "firstname" and "lastname" columns from the DataFrame df using select() and concatenates them using concat_ws() to create a new column called "name."
#The "gender" column is directly selected, and a new column called "new_salary" is created by multiplying the "salary" column by 2 using lit().
#Displaying Modified DataFrame:

#The modified DataFrame is displayed using show().
#Converting DataFrame to RDD and Creating a New DataFrame:

#The DataFrame df is converted to an RDD using rdd() and mapped to a new RDD rdd by applying a lambda function that transforms the columns.
#The RDD rdd is converted back to a DataFrame df2 using toDF() and column names are provided.
#Using Column Names to Refer:

#The code provides alternative approaches to access columns by name, either using x["column_name"] or directly using x.column_name.
#Defining a Function and Applying on RDD:

#The code defines a function func1() that takes a row as input, extracts the required columns, performs transformations, and returns a tuple.
#The RDD is mapped using the func1() function to create a new RDD rdd2.
#Performing Actions on RDD:

#Examples are provided to showcase different actions on RDDs, such as foreach() and collect().
#foreach() is used to apply a function on each element of the RDD.
#collect() is used to retrieve all the data from the RDD and iterate over it.
#Converting DataFrame to Pandas and Iterating:

#The DataFrame df is converted to a Pandas DataFrame pandasDF using toPandas().
#The Pandas DataFrame is iterated using iterrows() to access each row and its corresponding columns.
#The purpose of this code is to demonstrate various operations and transformations that can be performed on a PySpark DataFrame, including selecting columns, creating new columns, converting to RDD, applying functions, performing actions, and converting to a Pandas DataFrame for further operations.