In [0]:
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder \
          .appName('SparkByExamples.com') \
          .getOrCreate()

inputData = [("2019-07-01 12:01:19",
            "07-01-2019 12:01:19", 
            "07-01-2019")]
columns=["timestamp_1","timestamp_2","timestamp_3"]
df=spark.createDataFrame(
        data = inputData,
        schema = columns)
df.printSchema()
df.show(truncate=False)

from pyspark.sql.functions import *
df2 = df.select( 
      unix_timestamp(col("timestamp_1")).alias("timestamp_1"), 
      unix_timestamp(col("timestamp_2"),"MM-dd-yyyy HH:mm:ss").alias("timestamp_2"), 
      unix_timestamp(col("timestamp_3"),"MM-dd-yyyy").alias("timestamp_3"), 
      unix_timestamp().alias("timestamp_4") 
   )
df2.printSchema()
df2.show(truncate=False)

df3=df2.select(
    from_unixtime(col("timestamp_1")).alias("timestamp_1"),
    from_unixtime(col("timestamp_2"),"MM-dd-yyyy HH:mm:ss").alias("timestamp_2"),
    from_unixtime(col("timestamp_3"),"MM-dd-yyyy").alias("timestamp_3"),
    from_unixtime(col("timestamp_4")).alias("timestamp_4")
  )
df3.printSchema()
df3.show(truncate=False)

#SQL

root
 |-- timestamp_1: string (nullable = true)
 |-- timestamp_2: string (nullable = true)
 |-- timestamp_3: string (nullable = true)

+-------------------+-------------------+-----------+
|timestamp_1        |timestamp_2        |timestamp_3|
+-------------------+-------------------+-----------+
|2019-07-01 12:01:19|07-01-2019 12:01:19|07-01-2019 |
+-------------------+-------------------+-----------+

root
 |-- timestamp_1: long (nullable = true)
 |-- timestamp_2: long (nullable = true)
 |-- timestamp_3: long (nullable = true)
 |-- timestamp_4: long (nullable = true)

+-----------+-----------+-----------+-----------+
|timestamp_1|timestamp_2|timestamp_3|timestamp_4|
+-----------+-----------+-----------+-----------+
|1561982479 |1561982479 |1561939200 |1687361628 |
+-----------+-----------+-----------+-----------+

root
 |-- timestamp_1: string (nullable = true)
 |-- timestamp_2: string (nullable = true)
 |-- timestamp_3: string (nullable = true)
 |-- timestamp_4: string (nullable = true)

+-------------------+-------------------+-----------+-------------------+
|timestamp_1        |timestamp_2        |timestamp_3|timestamp_4        |
+-------------------+-------------------+-----------+-------------------+
|2019-07-01 12:01:19|07-01-2019 12:01:19|07-01-2019 |2023-06-21 15:33:49|
+-------------------+-------------------+-----------+-------------------+

In [0]:
#The code imports the necessary modules, including SparkSession from pyspark.sql.

#A SparkSession is created with the application name set to 'SparkByExamples.com'.

#The inputData list contains tuples representing input data for the DataFrame.

#The columns list defines the column names for the DataFrame.

#The DataFrame df is created using spark.createDataFrame() by passing the input data and schema.

#The schema and contents of df are printed using printSchema() and displayed using show().

#The unix_timestamp() function from pyspark.sql.functions is used to convert the timestamp columns in df to Unix timestamps. New columns timestamp_1, timestamp_2, timestamp_3, and timestamp_4 are created in the DataFrame df2 using select().

#The schema and contents of df2 are printed using printSchema() and displayed using show().

#The from_unixtime() function is used to convert the Unix timestamp columns in df2 back to timestamp strings. The resulting DataFrame is assigned to df3.

#The schema and contents of df3 are printed using printSchema() and displayed using show().

#The code then demonstrates the usage of SQL operations. SQL queries are executed using the spark.sql() method to perform operations on the DataFrame.