In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
         .appName('SparkByExamples.com') \
         .getOrCreate()

data = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
columns = ["Name","Dept","Salary"]
df = spark.createDataFrame(data=data,schema=columns)
df.distinct().show()
print("Distinct Count: " + str(df.distinct().count()))

# Using countDistrinct()
from pyspark.sql.functions import countDistinct
df2=df.select(countDistinct("Dept","Salary"))
df2.show()

print("Distinct Count of Department &amp; Salary: "+ str(df2.collect()[0][0]))

df.createOrReplaceTempView("PERSON")
spark.sql("select distinct(count(*)) from PERSON").show()

+-------+---------+------+
|   Name|     Dept|Salary|
+-------+---------+------+
|  James|    Sales|  3000|
|Michael|    Sales|  4600|
| Robert|    Sales|  4100|
|  Maria|  Finance|  3000|
|  Scott|  Finance|  3300|
|    Jen|  Finance|  3900|
|   Jeff|Marketing|  3000|
|  Kumar|Marketing|  2000|
|   Saif|    Sales|  4100|
+-------+---------+------+

Distinct Count: 9
+----------------------------+
|count(DISTINCT Dept, Salary)|
+----------------------------+
|                           8|
+----------------------------+

Distinct Count of Department &amp; Salary: 8
+--------+
|count(1)|
+--------+
|      10|
+--------+

In [0]:
#Import the necessary modules: SparkSession from pyspark.sql.
#Create a SparkSession named 'SparkByExamples.com' using SparkSession.builder.appName('SparkByExamples.com').getOrCreate().
#Define sample data as a list of tuples, where each tuple represents a row.
#Define the schema using a list of column names.
#Create a DataFrame using spark.createDataFrame(data=data, schema=columns).
#Show the distinct values in the DataFrame using df.distinct().show().
#Print the count of distinct rows in the DataFrame using df.distinct().count().
#Use countDistinct() function from pyspark.sql.functions to compute distinct values of specific columns. Create a new DataFrame df2 using df.select(countDistinct("Dept","Salary")) and show its content using df2.show().
#Print the distinct count of "Department" and "Salary" columns by extracting the value from the DataFrame using df2.collect()[0][0].
#Create a temporary view named "PERSON" using df.createOrReplaceTempView("PERSON").
#Execute a SQL query using spark.sql("select distinct(count(*)) from PERSON").show() to compute the distinct count using SQL syntax.
#The code demonstrates how to calculate distinct values in a DataFrame using both DataFrame operations and SQL queries.