In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

data = ["Project",
"Gutenberg’s",
"Alice’s",
"Adventures",
"in",
"Wonderland",
"Project",
"Gutenberg’s",
"Adventures",
"in",
"Wonderland",
"Project",
"Gutenberg’s"]

rdd=spark.sparkContext.parallelize(data)

rdd2=rdd.map(lambda x: (x,1))
for element in rdd2.collect():
    print(element)
    
data = [('James','Smith','M',30),
  ('Anna','Rose','F',41),
  ('Robert','Williams','M',62), 
]

columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

rdd2=df.rdd.map(lambda x: 
    (x[0]+","+x[1],x[2],x[3]*2)
    )  
df2=rdd2.toDF(["name","gender","new_salary"]   )
df2.show()


#Referring Column Names
rdd2=df.rdd.map(lambda x: 
    (x["firstname"]+","+x["lastname"],x["gender"],x["salary"]*2)
    ) 


#Referring Column Names
rdd2=df.rdd.map(lambda x: 
    (x.firstname+","+x.lastname,x.gender,x.salary*2)
    ) 


def func1(x):
    firstName=x.firstname
    lastName=x.lastname
    name=firstName+","+lastName
    gender=x.gender.lower()
    salary=x.salary*2
    return (name,gender,salary)

rdd2=df.rdd.map(lambda x: func1(x)).toDF().show()
rdd2=df.rdd.map(func1).toDF().show()

('Project', 1)
('Gutenberg’s', 1)
('Alice’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)
('Adventures', 1)
('in', 1)
('Wonderland', 1)
('Project', 1)
('Gutenberg’s', 1)
+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|    30|
|     Anna|    Rose|     F|    41|
|   Robert|Williams|     M|    62|
+---------+--------+------+------+

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+

+---------------+---+---+
|             _1| _2| _3|
+---------------+---+---+
|    James,Smith|  m| 60|
|      Anna,Rose|  f| 82|
|Robert,Williams|  m|124|
+---------------+---+---+

+---------------+---+---+
|             _1| _2| _3|
+---------------+---+---+
|    James,Smith|  m| 60|
|      Anna,Rose|  f| 82|
|Robert,Williams|  m|124|
+---------------+---+---+

In [0]:
#Importing SparkSession: The SparkSession class is imported from the pyspark.sql module. It is the entry point to programming Spark with the DataFrame and SQL API.

#Creating a SparkSession: The SparkSession is created using the SparkSession.builder method with the application name set to 'SparkByExamples.com'. If a SparkSession already exists, it returns that instance; otherwise, it creates a new one.

#Creating an RDD: An RDD named rdd is created using spark.sparkContext.parallelize(data), where data is a list of strings.

#Mapping RDD elements: The RDD elements are transformed using rdd.map(lambda x: (x,1)). Each string in the RDD is transformed into a tuple with the string itself as the key and the value 1.

#Collecting and printing RDD elements: The transformed RDD elements are collected using rdd2.collect(). It returns a list of key-value tuples, and each tuple is printed.

#Creating a DataFrame: A DataFrame named df is created using spark.createDataFrame(data=data, schema=columns). The data is a list of tuples, and columns is a list of column names.

#Displaying DataFrame: The df.show() method is used to display the contents of the DataFrame.

#Transforming DataFrame to RDD: The DataFrame df is transformed into an RDD named rdd2 using df.rdd.map(lambda x: (x[0]+","+x[1],x[2],x[3]*2)).

#Converting RDD back to DataFrame: The RDD rdd2 is converted back to a DataFrame named df2 using rdd2.toDF(["name","gender","new_salary"]).

#Displaying transformed DataFrame: The df2.show() method is used to display the contents of the transformed DataFrame.

#Referring column names in RDD transformation: Two examples are provided where the RDD transformation is done by referring to column names instead of indices: x["firstname"]+","+x["lastname"] and x.firstname+","+x.lastname.

#Defining a function for RDD transformation: The function func1 is defined to transform each element of the DataFrame RDD. It extracts the required columns, performs some calculations, and returns a tuple (name, gender, salary). Two examples are given where the RDD transformation is done using this function: df.rdd.map(lambda x: func1(x)).toDF().show() and df.rdd.map(func1).toDF().show().